<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>New login detected</title>
  </head>
  <body>
    <p>We detected a new login to your account.</p>
    <p><strong>IP address:</strong> {{ipAddress}}</p>
    <p><strong>Device:</strong> {{userAgent}}</p>
    <p>If this was you, no action is required.</p>
    <p>If this was not you, please secure your account immediately.</p>
  </body>
</html>
